*{
	margin: 0;
	padding: 0;	
}

.wrapper{
	max-width: 1920px;
	font-family: Tahoma;
	margin: 0 auto;
}

/* head */
.header{
    width: 100%;
    min-height: 894px;
    background: url('images/bg.gif');
	text-align: center;	
}
.section-head{
	max-width: 1170px;
	min-height: 894px;
	margin: 0 auto;
	color: white;
}

/* Logo and nav */
ul{
	list-style: none;
	margin-top: 30px;
}
li{
	float: right;
	margin-right: 55px;
}
.logo{
    float: left;
	margin-right: -55px;
	margin-top: 25px;
}
.nav{
	float: right;
	padding-top: 25px;
}
.nav li{
	float:right;
	margin-right: 55px;
}
.nav li:first-child{
	margin-right: 0;
}
a{
	text-decoration:none;
	color: #FFF3FF;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* article-img-button */
.text-left{
float: left;
text-align: left;
margin-top: 257px;	
}
.img-right img{
	height: 588px;
}
.img-right{
float: right;
margin-top: 125px;	
}
.text-left h1{
	margin-bottom: 61px;
}
.text-left p{
	margin-bottom: 95px;
	line-height: 35px;
}

.right-button{
	border: 2px solid #FFF3FF;
	text-transform: uppercase; 
	background: none;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	padding: 25px 55px;
	color: #FFF3FF;
}


/* icons-text */
.icons-text{
	width: 100%;
	min-height:	930px;
	background: white;
	margin: 0 auto;
}

.section-icon{
	max-width: 1170px;
	min-height:	930px;
	text-align: center;
	margin: 0 auto;
}
.ic{
	display: inline-block;
	width: 350px;
	height:260px;
	line-height: normal;
	margin: 0 15px;	
}
.ic img{
	padding-bottom: 45px;
}

.container{
	padding-top: 90px;
}

.top-p{
	padding: 100px 0px 30px 0px;
    text-transform: uppercase;	
	color: #F2A856;
	font-size: 18px;
}
.section-icon h2{
	font-size: 36px;
	font-weight: normal;
}
.span-p{
    font-weight: bold;
	margin-bottom: 30px;
}


/* input */
.input-text{
	width: 100%;
	min-height: 567px;
	background: url('images/bg2.gif');
	text-align: center;
	margin: 0 auto;
	color: white;
}
.section-input{
	min-height:	567px;
}
.in-email{
	font-size: 16px;
	width: 600px;
	height: 60px;
	color: #930;
	background: none; 
	text-align: left;
	border-radius: 5px;
	border: 1px solid white;
}

::-webkit-input-placeholder {color:#FFFFFF;}
::-moz-placeholder          {color:#FFFFFF;}/* Firefox 19+ */
:-moz-placeholder           {color:#FFFFFF;}/* Firefox 18- */
:-ms-input-placeholder      {color:#FFFFFF;}


.button-input{
	width: 200px;
	height: 67px;
	background: white;
	color: #FD7542;
	border-radius: 5px;
	border: 1px solid white;
	font-size: 18px;
}
.title{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 8px;
	padding: 80px 0px 35px 0px;	
}
.text-input{
	line-height: 35px;
	margin-bottom: 100px;
}


/* footer */
.footer{
	width: 100%;
	min-height: 167px;
	background: white;
	text-align: center;
	margin: 0 auto;
}
.section-footer{
	max-width:1170px;
	min-height:	167px;
    margin: 0 auto;
}
.block-empty{
	min-height: 60px;
}
.footer p{
	font-size: 16px;
	color:#919191;
	float: left;
	margin-top: 50px;
}
.footer img{
	float: right;
	margin-top: 35px;
}